*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b1120;
color:#fff;
}

a{
text-decoration:none;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
position:sticky;
top:0;
z-index:1000;
box-shadow:0 8px 20px rgba(0,0,0,.35);
}

.logo{
font-size:30px;
font-weight:700;
color:#38bdf8;
}

.logo span{
color:#ffffff;
}

nav{
display:flex;
gap:18px;
align-items:center;
}

nav a{
padding:10px 16px;
border-radius:10px;
transition:.3s;
}

nav a:hover{
background:#1e293b;
color:#38bdf8;
}

.loginBtn{
background:#334155;
padding:10px 20px;
border-radius:10px;
}

.signupBtn{
background:linear-gradient(135deg,#2563eb,#7c3aed);
padding:10px 22px;
border-radius:12px;
font-weight:600;
box-shadow:0 10px 25px rgba(37,99,235,.35);
transition:.3s;
}

.signupBtn:hover{
transform:translateY(-3px);
}

.hero{
text-align:center;
padding:100px 20px;
background:linear-gradient(180deg,#111827,#0b1120);
}

.hero h1{
font-size:55px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
opacity:.8;
margin-bottom:35px;
}

.heroSearch{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
}

.heroSearch input{
width:420px;
max-width:90%;
padding:16px;
border:none;
border-radius:12px;
font-size:17px;
outline:none;
}

.heroSearch button{
padding:16px 30px;
border:none;
border-radius:12px;
background:#2563eb;
color:white;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.heroSearch button:hover{
background:#1d4ed8;
}

.playNow{
display:inline-block;
margin-top:35px;
padding:16px 40px;
background:linear-gradient(135deg,#2563eb,#7c3aed);
border-radius:14px;
font-size:18px;
font-weight:700;
box-shadow:0 15px 35px rgba(37,99,235,.4);
transition:.3s;
}

.playNow:hover{
transform:translateY(-4px);
}